.m-index {
  .l-container {
    .infoPage {
      width: 100%;
      height: 100%;
      header{
        width: 100%;
        height: .44rem;
        background: #fed846;
        text-align: center;
        line-height: .44rem;
        color: #373737;
        font-weight: bold;
      }
    }
  }
}
