@font-face {
  font-family: yofont;
  src: url("/mymove/images/iconfont/iconfont-menu.woff") format("woff"), url("/mymove/images/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/mymove/images/iconfont/iconfont-top.woff") format("woff"), url("/mymove/images/iconfont/iconfon-top.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/mymove/images/iconfont/iconfont-homeMain.woff") format("woff"), url("/mymove/images/iconfont/iconfon-homeMain.ttf") format("truetype");
}

//
body{
  background: #f0f0f0;
}
